html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Impact", fantasy;
    display: flex;
    flex-direction: column;
}

header {
    background-color: rgb(190, 231, 245);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 60px;
    font-size: 40px;
}

/* #sign-in {
    padding: 5px 10px;
    border-radius: 5px;
    background-color: rgb(240, 219, 223);
    outline: none;
    font-weight: bold;
    cursor: pointer;
} */

main {
    flex: 1;
    background-color: rgba(151, 151, 196, 0.226);
}

.container {
    display: grid;
    grid-template-columns:repeat(5, 1fr);
    padding: 26px;
    grid-gap: 12px;
}

.card {
    border: 1px solid rgb(226, 218, 218);
    box-shadow: 2px 4px 16px rgba(0,0,0,.06);
    border-radius: 4px;
    padding: 16px;
    min-width: 250px;
    background-color: rgb(190, 231, 245);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: 30px;
    margin-bottom: 10px;
}

.card-buttons-container {
    gap: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 150px;
    flex-basis: 150px;
}

.card-btn {
    padding: 5px 8px;
    border-radius: 5px;
    outline: none;
    font-weight: bold;
    cursor: pointer;
}

.submit-btn {
    background-color: lightgreen;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 5px;
    margin-top: -26px;
}

.remove-btn {
    background-color: rgba(255, 0, 0, 0.397);
}

.add-btn {
    position: fixed;
    bottom: 20px;
    right: 20px; 
    height: 50px; 
    width: 50px;  
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: rgba(151, 151, 196, 0.632);
    box-shadow: 0 0 15px 2px rgba(0,0,0,0.2);
    cursor: pointer;
    z-index: 1;
}

.card-btn:hover, .add-btn:hover, .submit-btn:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1) 0 0);
}

#addModal {
    display: none;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: rgba(151, 151, 196);
    position: fixed;
    top: 50%;
    left: 50%;
    padding: 16px;
    width: 300px;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 7px 2px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    animation-name: modalopen;
    animation-duration: 0.5s;
}

.modal-close-btn {
    color: #cccccc;
    align-self: flex-end;
    font-size: 20px;
}

.modal-close-btn:hover {
    color: black;
    cursor: pointer;
    text-decoration: none;
}

.input {
    border: 1px solid grey;
    border-radius: 5px;
    font-weight: bold;
    margin-bottom: 40px;
    outline: none;
    width: 70%;
    padding: 10px;
}

.input:focus {
    border-color: black;
}

@keyframes modalopen {
    from{opacity: 0}
    to{opacity: 1}
}
